<section id="hero" class="relative h-screen w-full overflow-hidden">
    <!-- Video de fondo -->
    <video autoplay muted loop playsinline class="absolute inset-0 w-full h-full object-cover z-0">
        <source src="assets/img/principal.mp4" type="video/mp4" />
        Tu navegador no soporta video HTML5.
    </video>

    <!-- Capa oscura -->
    <div class="absolute inset-0 bg-black/60 z-10"></div>

    <!-- Contenido centrado con logo + texto -->
    <div class="relative z-20 flex flex-col items-center justify-center h-full px-4">
        <img src="assets/icons/amigos_color_logo.png" alt="Logo Amigos Málaga"
            class="w-80 md:w-[500px] max-w-full object-contain" loading="lazy" />

        <!-- Texto debajo del logo -->
        <h1
            class="mt-6 md:mt-32 text-white font-montserrat font-bold md:max-h-[700px] tracking-widest text-xl md:text-4xl uppercase">
            MÁLAGA CENTRO
        </h1>


    </div>
</section>