<section
    class="relative text-white min-h-[400px] md:min-h-[500px] lg:min-h-[600px] py-10 px-2 md:px-3 lg:px-4 flex items-center">

    <!-- Capa negra opaca -->
    <div class="absolute inset-0 bg-black z-0"></div>

    <!-- Imagen de fondo con opacidad encima de la capa negra -->
    <div class="absolute inset-0 z-0">
        <img src="assets/img/banner_final.jpg" alt="" class="w-full h-full object-cover opacity-20" />
    </div>

    <!-- Contenido -->
    <div class="relative max-w-[1800px] mx-auto grid md:grid-cols-3 gap-8 items-center text-sm z-10 w-full">

        <!-- Enlaces -->
        <div class="space-y-2">
            <a href="#" data-i18n="restaurante.links.trabaja"
                class="hover:text-[#947e17] block font-montserrat font-semibold text-base md:text-lg">
                TRABAJA CON NOSOTROS
            </a>
            <a href="#" data-i18n="restaurante.links.cookies"
                class="hover:text-[#947e17] block font-montserrat font-semibold text-base md:text-lg">
                POLÍTICA DE COOKIES
            </a>
            <a href="#" data-i18n="restaurante.links.privacidad"
                class="hover:text-[#947e17] block font-montserrat font-semibold text-base md:text-lg">
                POLÍTICA DE PRIVACIDAD
            </a>
            <a href="#" data-i18n="restaurante.links.aviso"
                class="hover:text-[#947e17] block font-montserrat font-semibold text-base md:text-lg">
                AVISO LEGAL
            </a>
        </div>

        <!-- Ananta -->
        <div class="text-center font-abel font-normal leading-none">
            <p data-i18n="restaurante.ananta.texto" class="text-[#947e17] text-xl md:text-2xl mb-1">
                Somos parte del
            </p>
            <img src="assets/icons/ananta_logo.png" class="mx-auto h-[200px] my-1 block" />
            <a href="https://grupoananta.com/" target="_blank" data-i18n="restaurante.ananta.boton"
                class="text-[#947e17] text-xl md:text-2xl uppercase underline mt-1 block">
                ¡Conócenos!
            </a>
        </div>

        <!-- Instagram -->
        <div class="text-right">
            <div class="inline-flex flex-col items-center gap-4">
                <div class="flex gap-4">
                    <img src="assets/img/rrss_1.jpg" class="w-[140px] h-[190px] object-cover rounded-md shadow-lg" />
                    <img src="assets/img/rrss_2.jpg" class="w-[140px] h-[190px] object-cover rounded-md shadow-lg" />
                </div>
                <a href="https://www.instagram.com/amigos.malagacentro/" target="_blank" rel="noopener noreferrer"
                    class="text-lg tracking-wide text-center text-white font-semibold block hover:text-[#947e17] transition">
                    @AMIGOS.MALAGACENTRO
                </a>
            </div>
        </div>

    </div>
</section>